src/dem_genpack
src/dem_joinres
src/dem_viewpack
src/dem_viewres
tdoc/doc_msh1
tdoc/doc_msh2
tdoc/doc_msh3
tlbm/bubble
tlbm/dam
tlbm/multicomp
tlbm/magnus
tlbm/single
tlbm/tlbm01
tlbm/tlbm02
tlbm/tlbm03
tlbm/tlbm04
tlbm/tlbm05
tlbm/tlbm06
tlbm/tlbm07
tlbm/tlbm08
tflbm/tflbm01
tflbm/tflbm02
tflbm/tflbm03
tflbm/tflbm04
tflbm/tflbm05
tflbm/tclbm01
tflbm/tclbm02
tflbm/tclbm03
tflbm/tclbm04
tflbm/tclbm05
temlbm/temlbm01
temlbm/temlbm02
temlbm/temlbm03
temlbm2/temlbm201
temlbm2/temlbm202
temlbm2/temlbm203
temlbm2/temlbm204
temlbm2/temlbm205
tadlbm/tadlbm01
tadlbm/tadlbm02
tadlbm/tadlbm03
tadlbm/tadlbm04
test/delaunay
test/delaunay3D
test/linalg01
test/linalg02
test/linalg03
test/linalg04
test/linsolver
test/mesh01
test/mesh02
test/mesh03
test/mesh04
test/models/eigenbases
test/models/invariants01
test/models/invariants02
test/models/invariants05
test/models/test_wrcs
test/monte_carlo
test/quadrature
test/serialize
test/test_array
test/test_colors
test/test_dunitvec
test/test_maps
test/test_min1
test/test_numdiff1
test/test_ode1
test/test_paragrid
test/test_readfiles
test/test_root
test/tlaexpr
test/alphashape01
test/tdelaunay3d
test/graph/cluster01
tdem/brazil_test
tdem/cylinder_test
tdem/figure
tdem/nonconvex
tdem/test_01
tdem/test_02
tdem/test_beam
tdem/test_distances
tdem/test_domain
tdem/test_dynamics
tdem/test_periodic
tdem/test_read
tdem/test_tetrahedra
tdem/test_write
tdem/ttt
tdem/viewbucket
tdem/viewbucket.py
tdem/GSD
tdem/test_mesh
tdem/test_cu_01
tdem/test_cu_02
tdem/test_cu_03
test/tplotxy
tdoc/doc_vtk1
test/models/fcrit
test/models/invariants04
test/models/smp
test/vtk/arrows
test/vtk/isosurf01
test/vtk/isosurf02
test/vtk/objects
test/vtk/sgridarrows
test/vtk/triangulation01
test/vtk/triangulation02
test/vtk/vtk_temperature
tmpm/mpm2d
tmpm/tmpm_chull2d
tmpm/tmpm_plotxy
tmpm/tmpm_tensors
tmpm/tmpm01
tmpm/tmpm02
tmpm/tmpm03

tdem/test_cu_04


syntax: glob
CTestTestfile.cmake
Testing
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.xmf
*.h5
*.hdf5
*.blend
*.swp
*.a
*.so
*.o
.cproject
.project
.pydevproject
.DS_Store
*.tmp
*.dot
*.pvd
*.vtu
*.vtk
*.pov
*.png
*.eps
*.cal
*.avi
*.res
*.out
*.ply
*.draw
*.mpy
*.mesh
*.gnu
*.bpy
*.disp
*.stress
*.smat
old_*
*.pyc
mesh_drawing.py
data_handler.py
invariants.py
plotter.py
mdl_tst_01.dat
mdl_tst_02.dat
granulometry.txt
